@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@300&display=swap');

* {
margin-top: 10px;
display: flexbox;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    font-family: 'Roboto Mono';
    padding: 12px;
    margin: 10px 0;
    border: yes;
    border-color: #212529;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #212529;
}

span.price {
    float: right;
    color: grey;
}

/* Адаптивная разметка — когда ширина экрана становится меньше 800px,
  делаем так, чтобы две колонки складывались друг над другом, а не рядом
  друг с другом (и меняем направление — колонка "корзины" будет вверху) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

h1 {
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-weight: bold;
}

label,
input,
p {
    font-family: 'Roboto Mono';
    font-size: 1rem;
}

.col-25 {
    padding-right: 60px;
}

.col-75 {
    padding-left: 60px;
}